<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
 
<module configVersion="1.0">
        
        <!-- Dss Module Properties -->
        <id>dss</id>
        <name>Dss</name>
        <version>2.27.23</version>
        <package>org.openmrs.module.@MODULE_ID@</package>
        <author>Vibha Anand and Tammy Dugan</author>
        <description>
                        Dss Module. Run DSS rules.
        </description>
 
        <activator>@MODULE_PACKAGE@.DssActivator</activator>
        
        <!-- /Dss Module Properties -->
        
        <require_version>1.1.10.2283</require_version>
        <require_modules>
               <require_module version="1.0.25">org.openmrs.module.chirdlutil</require_module>
                <require_module version="1.1.0">org.openmrs.module.chirdlutilbackports</require_module>
        </require_modules>      
        
        <extension>
                <point>org.openmrs.admin.list</point>
                <class>org.openmrs.module.dss.extension.html.AdminList</class>
        </extension>
        
        <globalProperty>
                <property>dss.javaRuleDirectory</property>
               <description>The directory where the module looks for java rule files to compile on the fly.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.archivedJavaRuleDirectory</property>
               <description>The directory where the module puts java rule files after they are compiled on the fly.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.classRuleDirectory</property>
               <description>This is the base level directory where the
                module puts the class files generated by compiling
                the java rule files. The class files are stored in nested
                folders based on the dss.rulePackagePrefix property
                 within this class rule directory.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.mlmRuleDirectory</property>
               <description>The directory where the module looks for mlm rule files to compile into java rule files on the fly.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.archivedMLMRuleDirectory</property>
               <description>The directory where the module puts the mlm files after they are compiled on the fly.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.rulePackagePrefix</property>
                <defaultValue>org.openmrs.module.dss.rule</defaultValue>
               <description>The package prefix given to the compiled java rule files.
               This determines where the class files will be written. The class files
               will be written to a nested file structure based on this rule package
               prefix property. The set of nested folders is written to the dss.classRuleDirectory.
               The package definition in the java rule file must match this property.
               </description>
        </globalProperty>
        <globalProperty>
                <property>dss.batchSizeRunRules</property>
                <defaultValue>5</defaultValue>
               <description>Number of rules to run when run rules is called.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.clearMLMFiles</property>
                <defaultValue>false</defaultValue>
               <description>True if mlm file should be deleted in mlmRuleDirectory after it is archived.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.clearJavaFiles</property>
                <defaultValue>false</defaultValue>
               <description>True if java file should be deleted in javaRuleDirectory after it is archived.</description>
        </globalProperty>
        <globalProperty>
                <property>dss.ruleSortOrder</property>
                <defaultValue>ASC</defaultValue>
               <description>Order rules should be sorted when retrieved from the database.
               ASC - ascending, DESC - descending
               </description>
        </globalProperty>
        <globalProperty>
       <property>dss.defaultPackagePrefix</property>
       <defaultValue>org.openmrs.module.dss.ruleLibrary</defaultValue>
       <description>The package prefix given to a set of precompiled rules.  This package is the default package used for rule tokens.</description>
   </globalProperty>
   <globalProperty>
       <property>dss.physicianNoteConfigFile</property>
       <description>The file location of the physician note configuration file.</description>
   </globalProperty>
   <globalProperty>
       <property>dss.physicianNoteDirectory</property>
       <description>The directory where the physician notes are stored.</description>
   </globalProperty>
        
        <!-- Internationalization -->
        <!-- All message codes should start with @MODULE_ID@.* -->
        <messages>
                <lang>en</lang>
                <file>messages.properties</file>
        </messages>
        <messages>
                <lang>fr</lang>
                <file>messages_fr.properties</file>
        </messages>
        <messages>
                <lang>es</lang>
                <file>messages_es.properties</file>
        </messages>
        <!-- /Internationalization -->
        
        <mappingFiles>
                rule.hbm.xml
        </mappingFiles>
        
</module>
 